:root {
  --background-color: #df960fb6;
  --border-color: #ffffff4d;
  --title-color: #ffffff80;
  --image-bg-color: #ec1f10;
  --box-shadow-color: #0000009d;
  --tooltip-bg-color: #fbd30d;
  --tooltip-text-color: #000;
  --service-bg-color: #ec1f10;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--background-color);
}

h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
}

#curriculos {
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
}

#section-curriculos {
  border: 3px solid var(--border-color);
  border-radius: 5px;
  padding: 20px;
}

#title-curriculos {
  color: var(--title-color);
}

.img {
  margin-left: 2%;
  padding: 50px;
  background-color: var(--image-bg-color);
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--box-shadow-color);
}

h2 {
  text-align: center;
  font-size: 30px;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

.member-card {
  display: inline-block;
  position: relative;
  transition: ease-in-out 0.1s;
}

.member-card:hover {
  transform: scale(1.01);
  z-index: 2;
}

.member-card img {
  border-radius: 100%;
  box-shadow: 2px 2px 10px var(--box-shadow-color);
}

/* Tooltip */
.member-card::before {
  content: attr(title);
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--tooltip-bg-color);
  color: var(--tooltip-text-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.616);
  opacity: 0;
  transition: opacity 0.3s;
}

.member-card:hover::before {
  opacity: 1;
}

.service-card {
  padding: 1rem;
  background-color: var(--service-bg-color);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.service-card h3 {
  font-size: 1.4rem;
  color: white;
}
